scripts/log.txt
www/trantools/maintainer_*.html
www/trantools/params_*.html
www/trantools/revcheck_*.html
www/trantools/reviewedcheck_*.html
www/trantools/transcheck_*.html
www/images/info_revcheck_*
www/images/users/*.jpg
www/phd/docs
www/robots.txt
www/orphan_notes.php
www/notes_stats-data.php
www/pearscs.phar
sqlite
files
cvs
build-ops
build-ops.php
config.cache
config.log
config.status
.*.swp
automate4te.cache
diff
.externalToolBuilders
.project
project.index
sqlite/*sqlite
shared