#!/bin/sh
# Please read README.md in the same directory to get more info about filling in this file

PHP=@PHP@
GIT_DIR=@GITDIR@
DOCWEB=@DOCWEB@
PHDDIR=@PHDDIR@
SCRIPTSDIR=@SCRIPTSDIR@
SQLITE_DIR=@SQLITEDIR@
SRCDIR=@SRCDIR@
