/* $Id$ */

@import url(/style/common.css);

/**
  *	php-gtk specific style
  **/
#HeaderWindows {
   background-color: #0099cc;
   background-image:url("/images/php-gtk.gif");
   background-position:top left;
   background-repeat:no-repeat;
}

#LeftData {
   background-color: #f0f0f0;
}

#LeftData h2, #CenterData h2 {
   color: #000066;
}

#CenterData h3 {
   color: #999;
   font-style: italic;
}

div .ColoredDiv {
   background: #0099cc;
   padding: 5px;
   border: solid 1px #666699;
   width: 70%;
}

th {
   background: #f0c040;
}
   

/* links */

a {
   font-weight: normal;
   color: #000033;
}

a:hover {
   border-bottom: 1px dotted #003300;
}

#Nav1 a {
   color: #000;
}

#Nav1 a:hover {
   border-bottom: 1px dotted #000;
}

#Nav2, #FooterData {
   background-color: #006699;
}

#Nav2 a, #FooterData a {
   color: #fff;
}

#Nav2 a:hover, #FooterData a:hover {
   border-bottom: 1px dotted #fff;
}

/* footer */

#FooterData2 {
   background-color: #ccc;
}
