/* $Id$ */

@import url(/style/common.css);

/**
  *	smarty specific style
  **/
  
#HeaderWindows {
   background-color: #f0c040;
   background-image:url("/images/smarty-logo-orange.gif");
   background-position:top left;
   background-repeat:no-repeat;
}

#LeftData {
   background-color: #f0ead8;
}

#LeftData h2, #CenterData h2 {
   color: #000;
}

#CenterData h3 {
   color: #9b410e;
   font-style: italic;
}


div .ColoredDiv {
   background: #f0c040;
   padding: 5px;
   border: solid 1px #666699;
}

th {
   background: #f0c040;
}

/* Les liens */

a {
   font-weight: normal;
   color: #3b404c;
}

a:hover {
   border-bottom: 1px dotted #003300;
}

#Nav1 a {
   color: #000;
}

#Nav1 a:hover {
   border-bottom: 1px dotted #000;
}

#Nav2, #FooterData {
   background-color: #9b410e;
}

#Nav2 a, #FooterData a {
   color: #fff;
}

#Nav2 a:hover, #FooterData a:hover {
   border-bottom: 1px dotted #fff;
}

/* footer */

#FooterData2 {
   background-color: #f0c040;
}
